.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.opening {
    background-color: #f0f0f0;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s;
    margin: 5px;
} 

.btn-yes {
    background-color: rgb(27, 222, 27);
    color: white;
    
  
}

.btn-no {
    background-color: red;
    color: white;
}

.gif-container {
    display: none;
    text-align: center;
}

.gif {
    width: 400px;
    height: 300px;
}

.thank-you {
    font-size: 40px;
    margin-top: 30px;
}

h2 {
    font-size: 30px;
}

@keyframes party {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.party-effect {
    animation: party 3s ease-in-out;
}

.falling-element {
    position: absolute;
    width: auto;
    height: auto;
    background-color: transparent;
    color: #000000; /* Kulay ng text */
    font-size: 20px; /* Laki ng font */
    font-weight: bold; /* Bold na font */
    animation: fall linear infinite;
    top: 0;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.header-image {
    width: 200px;
    height: 200px;
}
